<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>@ViewBag.Title</title>
	<meta name="description" content="@ViewBag.Description" />
	<meta name="author" content="@ViewBag.Author" />

	<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" href="@Url.Content("~/content/normalize.css")" />
    <link rel="stylesheet" href="@Url.Content("~/content/widestance.css")" />
    <link rel="stylesheet" href="@Url.Content("~/content/style.css")" />

    @if(HttpContext.Current.IsDebuggingEnabled)
    { 
        <link rel="stylesheet" href="@Url.Content("~/content/debug.css")" />
    }

    @RenderSection("CssContent", false)

	<script src="@Url.Content("~/scripts/modernizr-2.0.6-development-only.js")"></script>
</head>
<body>

<div class="container">
	<header class="row">
        @if (IsSectionDefined("HeaderContent"))
        {
            @RenderSection("HeaderContent")
        }
        else
        { 
            <div class="twelve columns"><h1>@ViewBag.Title</h1></div>
        }
	</header>
	<div role="main" class="row">
    
    @RenderBody()

	</div>
	<footer class="row">
        @RenderSection("FooterContent", false)
	</footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/scripts/jquery-1.7.0.min.js"><\/script>')</script>
<script src="@Url.Content("~/scripts/plugins.js")"></script>
<script src="@Url.Content("~/scripts/script.js")"></script>

@RenderSection("ScriptContent", false)

@MvcMiniProfiler.MiniProfiler.RenderIncludes()

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

@* Uncomment for Chrome frame
<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->*@

</body>
</html>